<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.sentenceModule.home.title">Sentence Modules</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sentence-module" [routerLink]="['/sentence-module/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appApp.sentenceModule.home.createLabel">
            Create new Sentence Module
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sentenceModules">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="appApp.sentenceModule.sentenceId">Sentence Id</span></th>
            <th><span jhiTranslate="appApp.sentenceModule.phraseOptionId">Phrase Option Id</span></th>
            <th><span jhiTranslate="appApp.sentenceModule.moduleNo">Module No</span></th>
            <th><span jhiTranslate="appApp.sentenceModule.datenew">Datenew</span></th>
            <th><span jhiTranslate="appApp.sentenceModule.datelast">Datelast</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sentenceModule of sentenceModules ;trackBy: trackId">
                <td><a [routerLink]="['/sentence-module', sentenceModule.id, 'view' ]">{{sentenceModule.id}}</a></td>
                <td>{{sentenceModule.sentenceId}}</td>
                <td>{{sentenceModule.phraseOptionId}}</td>
                <td>{{sentenceModule.moduleNo}}</td>
                <td>{{sentenceModule.datenew | date:'medium'}}</td>
                <td>{{sentenceModule.datelast | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sentence-module', sentenceModule.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sentence-module', sentenceModule.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sentence-module/'+ sentenceModule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
