<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sentenceModule">
            <h2><span jhiTranslate="appApp.sentenceModule.detail.title">Sentence Module</span> {{sentenceModule.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.sentenceModule.sentenceId">Sentence Id</span></dt>
                <dd>
                    <span>{{sentenceModule.sentenceId}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentenceModule.phraseOptionId">Phrase Option Id</span></dt>
                <dd>
                    <span>{{sentenceModule.phraseOptionId}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentenceModule.moduleNo">Module No</span></dt>
                <dd>
                    <span>{{sentenceModule.moduleNo}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentenceModule.datenew">Datenew</span></dt>
                <dd>
                    <span>{{sentenceModule.datenew}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentenceModule.datelast">Datelast</span></dt>
                <dd>
                    <span>{{sentenceModule.datelast}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sentence-module', sentenceModule.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
