<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="phrase">
            <h2><span jhiTranslate="appApp.phrase.detail.title">Phrase</span> {{phrase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.phrase.value">Value</span></dt>
                <dd>
                    <span>{{phrase.value}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phrase.spaceBefore">Space Before</span></dt>
                <dd>
                    <span>{{phrase.spaceBefore}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phrase.spaceAfter">Space After</span></dt>
                <dd>
                    <span>{{phrase.spaceAfter}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phrase.removePunctuationBefore">Remove Punctuation Before</span></dt>
                <dd>
                    <span>{{phrase.removePunctuationBefore}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phrase.itemNo">Item No</span></dt>
                <dd>
                    <span>{{phrase.itemNo}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phrase.incorrect">Incorrect</span></dt>
                <dd>
                    <span>{{phrase.incorrect}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phrase.phraseOptionItemId">Phrase Option Item Id</span></dt>
                <dd>
                    <span>{{phrase.phraseOptionItemId}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phrase.datelast">Datelast</span></dt>
                <dd>
                    <span>{{phrase.datelast}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phrase.datenew">Datenew</span></dt>
                <dd>
                    <span>{{phrase.datenew}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/phrase', phrase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
