<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<br />

<p-confirmDialog></p-confirmDialog>

<h3><i class="fa fa-coins"></i>&nbsp; {{'appApp.promoteDomain.home.title' | translate }}</h3>
<p-growl life="8000" styleClass="customWidth"></p-growl>

<div class="row">
    <div class="col-lg-2">
        <h6 jhiTranslate="appApp.promoteDomain.home.domainFrom">Domain from</h6>
        <p-dropdown [options]="domains" optionLabel="name" [autoDisplayFirst]="false" [(ngModel)]="domainFrom">
        </p-dropdown>
    </div>
    <div class="col-lg-2">
        <h6 jhiTranslate="appApp.promoteDomain.home.domainTo">Domain to</h6>
        <p-dropdown [options]="domains" optionLabel="name" [autoDisplayFirst]="false" [(ngModel)]="domainTo">
        </p-dropdown>
    </div>
    <div class="col">
        <div>&nbsp;</div>
        <button icon="fa fa-file-export" pButton type="button" label="{{ 'appApp.promoteDomain.home.promoteButton' | translate}}"
            class="ui-button-rounded ui-button-success" [disabled]="disablePromoteButton()" (click)="promoteDomain()"></button>
    </div>
</div>

<p-dialog [(visible)]="showProgressModal" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
    [maximizable]="false" [baseZIndex]="10000" [closeOnEscape]="false" [dismissableMask]="false" [closable]="false"
    [positionTop]="50">
    <p-header>
        <span jhiTranslate="appApp.promoteDomain.messages.recodeInProgressMessageHeader">Recoding in progress..</span>
    </p-header>
    <P jhiTranslate="appApp.promoteDomain.messages.recodeInProgressMessage">This might take some time...</P>
    <p-progressBar mode="indeterminate"></p-progressBar>
</p-dialog>
