<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<p-confirmDialog></p-confirmDialog>
<br />
<h3>
    <i class="fa fa-edit"></i>&nbsp; {{ 'appApp.phraseEdit.title' | translate }}</h3>
<p-growl life="5000" styleClass="customWidth"></p-growl>

<div class="row">
    <div class="col-10">
        <div class="fixedFields">
            <div class="row">
                <div class="col">
                    <label for="domain" jhiTranslate="appApp.phraseEdit.domain">Domain</label>
                    <input id="domain" type="text" size="10" pInputText [(ngModel)]="phrase.domain.name" disabled>
                </div>
                <div class="col">
                    <label for="version" jhiTranslate="appApp.phraseEdit.version">Version</label>
                    <input id="version" type="text" size="3" pInputText [(ngModel)]="phrase.version.version" disabled>
                </div>
                <div class="col">
                    <label for="basis_version" jhiTranslate="appApp.phraseEdit.baseVersion">Basis version</label>
                    <input id="basis_version" type="text" size="3" pInputText [(ngModel)]="phrase.version.baseVersion"
                        disabled>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <button pButton type="button" icon="fa fa-save" label="{{ 'appApp.phraseEdit.buttons.saveButton' | translate }}"
            (click)="savePhrase()"></button>
    </div>

</div>
<div class="row">
    <div class="col">
        <span *ngFor="let sent of phrase.sentenceList"  style="display: inline-block;padding: 5px;">
            <button pButton class="ui-button-success" type="button" label="{{ sent.name }}" icon="fa fa-eye" (click)="trySentence($event, '', 'de', sent.id)"></button>
            <button pButton type="button" icon="fa fa-edit" (click)="gotoSentence(sent.name)"></button>
            &nbsp;&nbsp;&nbsp;
        </span>
    </div>
</div>

<p-confirmDialog key="reloadTextCat"></p-confirmDialog>

<p-dialog styleClass="pmdialog" header="{{ 'appApp.sentenceEdit.previewTitle' | translate }}" [(visible)]="display"
    [draggable]="true" [resizable]="true" [responsive]="true" modal="modal" [contentStyle]="{'height':'80%'}">
    <iframe id="receiver" #receiver [src]="pmUrl" width="100%" height="100%">
        <p>{{ "bulletins.create.pmDialog.noIFrameSupport" | translate }</p>
    </iframe>
</p-dialog>

<div class="sentenceL" style="border: 1px solid #e9e9e9; padding: 20px">
    <!-- DE -->
    <div class="row">
        <div class="col-1">
            <img src="../../../../content/images/de.png"> DE
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <input id="ID" size="3" disabled pInputText [(ngModel)]="phrase.phrasesDE.id">
                <label for="ID">ID </label>
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="nameDE" type="text" pInputText [(ngModel)]="phrase.phrasesDE.name" (input)="updateName($event)"
                    required="true" style="width: 90%">
                <label for="nameDE">Name</label>
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="headerDE" type="text" size="30" pInputText [(ngModel)]="phrase.phrasesDE.header" required="true" style="width: 90%">
                <label for="headerDE">Header</label>
            </span>
        </div>
        <div class="col-2">
            <span class="ui-float-label">
                <input id="Updated" type="text" size="30" pInputText disabled [(ngModel)]="phrase.phrasesDE.datelast">
                <label for="Updated">Updated</label>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ui-float-label">
                <input id="remarkDE" type="text" pInputText [(ngModel)]="phrase.phrasesDE.remark" style="width:90%">
                <label for="remarkDE">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <div class="row">
        <div class="col-1">
            <img src="../../../../content/images/en.png"> EN
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <input id="ID" type="number" size="5" disabled pInputText [(ngModel)]="phrase.phrasesEN.id">
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="nameEN" type="text" size="30" pInputText [(ngModel)]="phrase.phrasesEN.name" disabled="true"  style="width: 90%">
            </span>
        </div>
        <div class="col-6">
            <span class="ui-float-label">
                <input id="headerEN" type="text" size="30" pInputText [(ngModel)]="phrase.phrasesEN.header" required="true"  style="width: 90%">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ui-float-label">
                <input id="remarkEN" type="text" size="30" pInputText [(ngModel)]="phrase.phrasesEN.remark" style="width:90%">
                <label for="remarkEN">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <!-- IT -->
    <div class="row">
        <div class="col-1">
            <img src="../../../../content/images/it.png"> IT
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <input id="ID" type="number" size="3" disabled pInputText [(ngModel)]="phrase.phrasesIT.id">
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="nameIT" type="text" size="30" pInputText [(ngModel)]="phrase.phrasesIT.name" disabled="true"  style="width: 90%">
            </span>
        </div>
        <div class="col-6">
            <span class="ui-float-label">
                <input id="headerIT" type="text" size="30" pInputText [(ngModel)]="phrase.phrasesIT.header" required="true"  style="width: 90%">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span class="ui-float-label">
                <input id="remarkIT" type="text" size="30" pInputText [(ngModel)]="phrase.phrasesIT.remark" style="width:90%">
                <label for="remarkIT">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <div class="row">
        <div class="col-1">
            <img src="../../../../content/images/fr.png"> FR
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <input id="ID" type="number" size="5" disabled pInputText [(ngModel)]="phrase.phrasesFR.id">
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="nameFR" type="text" size="30" pInputText [(ngModel)]="phrase.phrasesFR.name" disabled="true"  style="width: 90%">
            </span>
        </div>
        <div class="col-6">
            <span class="ui-float-label">
                <input id="headerFR" type="text" size="30" pInputText [(ngModel)]="phrase.phrasesFR.header" required="true"  style="width: 90%">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ui-float-label">
                <input id="remarkFR" type="text" size="30" pInputText [(ngModel)]="phrase.phrasesFR.remark" style="width:90%">
                <label for="remarkFR">Remark</label>
            </span>
        </div>
    </div>
</div>
<hr />
<div class="row">

    <h3>PHRASES</h3>
</div>
<div class="row">
    <div class="col">
        <div style="height: 15px;">&nbsp;</div>
        <button pButton type="button" label="{{ 'appApp.phraseEdit.buttons.addLine' | translate }}" icon="fa fa-plus"
            (click)="addLine()"></button>
        <div>&nbsp;</div>
        <jhi-copedit-phrase-item-editor [(phrases)]="phrase.phrasesDE.phrases" [(phrasesItemPartNo2)]="phrase.phrasesDE.phrasesItemPartNo2"
            [language]="phrase.phrasesDE.language" #de></jhi-copedit-phrase-item-editor>
    </div>
    <div class="col">
            <hr style="height:2pt; visibility:hidden; margin: 0px" />
        <p-tabView (onChange)="changeTab()">
            <p-tabPanel header="EN">
                <jhi-copedit-phrase-item-editor [(phrases)]="phrase.phrasesEN.phrases" [(phrasesItemPartNo2)]="phrase.phrasesEN.phrasesItemPartNo2"
                    (onExcpetionRemoval)="emptyExceptionsArray($event)" [language]="phrase.phrasesEN.language" #en></jhi-copedit-phrase-item-editor>
            </p-tabPanel>

            <p-tabPanel header="IT">
                <jhi-copedit-phrase-item-editor [(phrases)]="phrase.phrasesIT.phrases" [(phrasesItemPartNo2)]="phrase.phrasesIT.phrasesItemPartNo2"
                    (onExcpetionRemoval)="emptyExceptionsArray($event)" [language]="phrase.phrasesIT.language" #it></jhi-copedit-phrase-item-editor>
            </p-tabPanel>
            <p-tabPanel header="FR">
                <jhi-copedit-phrase-item-editor [(phrases)]="phrase.phrasesFR.phrases" [(phrasesItemPartNo2)]="phrase.phrasesFR.phrasesItemPartNo2"
                    (onExcpetionRemoval)="emptyExceptionsArray($event)" [language]="phrase.phrasesFR.language" #fr></jhi-copedit-phrase-item-editor>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>