<p-growl life="5000" styleClass="customWidth"></p-growl>
<div class="row">
    <div class="col">
        <!-- <span class="ui-float-label">
            <input id="structure" type="text" size="30" pInputText [(ngModel)]="sentenceLanguage.structure">
            <fa-icon [icon]="faSitemap" (click)="updatePhraseOptionsFromStructure()"></fa-icon>
            <label for="structure">Structure</label>
        </span> -->
        <input id="structure" type="text" size="30" pInputText [(ngModel)]="sentenceLanguage.structure" required="true" />
        <p-button type="button" icon="fa fa-sitemap" iconPos="left" (click)="updatePhraseOptionsFromStructure()"></p-button>
    </div>
    <div class="col">
        <!-- <p-messages [(value)]="errorMsgs"></p-messages> -->
    </div>
    <div class="col" style="float: right;">
        <p-autoComplete [(ngModel)]="selectedPhraseOption" [suggestions]="filteredPhraseOptions" field="name"
            [dropdown]="true" [size]="30" (completeMethod)="filterPhraseOptions($event)" [forceSelection]="true"
            emptyMessage="No phraseOptions available"></p-autoComplete>
        <!-- <fa-icon [icon]="faPlusSquare" (click)="addPhraseOption()"></fa-icon> -->
        <p-button type="button" icon="fa fa-plus-circle" iconPos="left" (click)="addPhraseOption()" [disabled]="selectedPhraseOption === undefined"></p-button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row" style="text-align: center; margin: 0 auto">
            <div class="sentenceModule" [dragulaOptions]="options" [dragula]="sentenceModule" [dragulaModel]="sentenceLanguage.phraseOptions">
                <div *ngFor="let phraseOpt of sentenceLanguage.phraseOptions; let idx = index" style="float:left; padding:3px">
                    <div class="elementModule">
                        <div class="elementModuleHeader" [ngClass]="{'sentenceException': phraseOpt?.itemNo === 2}">
                           <span style="float: left; padding-right: 5px; ">{{phraseOpt?.moduleNo}}.{{phraseOpt?.itemNo}}</span>
                            <span style="float: right; padding-left: 5px;">{{phraseOpt?.header}}</span>
                        </div>
                        <div class="elementModuleBody">
                            <p-autoComplete (ngModelChange)="updatePhraseOptionInLanguages($event, sentenceLanguage.phraseOptions[idx])"
                                [(ngModel)]="sentenceLanguage.phraseOptions[idx]" [suggestions]="filteredPhraseOptions"
                                field="name" [dropdown]="true" (completeMethod)="filterPhraseOptions($event)" minLength="3"
                                [forceSelection]="true">
                            </p-autoComplete> <button pButton type="button"  icon="pi pi-pencil"
                            (click)="gotoPhraseOption(idx)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <pre>{{ sentenceLanguage.phraseOptions | json }}</pre> -->
