<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<br />
<h3>
    <i class="fa fa-edit"></i>&nbsp; {{ 'appApp.sentenceEdit.title' | translate }}</h3>

<p-growl life="5000" styleClass="customWidth"></p-growl>

<div class="row">
    <div class="col-10">
        <div class="fixedFields">
            <div class="row">
                <div class="col">
                    <label for="domain" jhiTranslate="appApp.sentenceEdit.domain">Domain</label>
                    <input id="domain" type="text" size="10" pInputText [(ngModel)]="sentence.domain.name" disabled>
                </div>
                <div class="col">
                    <label for="version" jhiTranslate="appApp.sentenceEdit.version">Version</label>
                    <input id="version" type="text" size="3" pInputText [(ngModel)]="sentence.version.version" disabled>
                </div>
                <div class="col">
                    <label for="basis_version" jhiTranslate="appApp.sentenceEdit.baseVersion">Basis version</label>
                    <input id="basis_version" type="text" size="3" pInputText [(ngModel)]="sentence.version.baseVersion"
                        disabled>
                </div>
                <div class="col">
                    <p-checkbox name="viewDeleted" value="val1" label="{{ 'appApp.sentenceEdit.deleted' | translate }}"
                        [(ngModel)]="sentence.deleted" disabled></p-checkbox>
                </div>
                <div class="col">
                    <p-checkbox name="viewDeleted" value="val1" label="{{ 'appApp.sentenceEdit.joker' | translate }}"
                        [(ngModel)]="sentence.jokerSentence" disabled></p-checkbox>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <button pButton type="button" icon="fa fa-save" label="{{ 'appApp.sentenceEdit.buttons.saveButton' | translate }}"
            (click)="saveSentence()"></button>
    </div>

</div>


<div class="sentenceL" style="border: 1px solid #e9e9e9; padding: 20px">
    <!-- DE -->
    <div class="row">
        <div class="col-1">
            <img src="../../../../content/images/de.png"> DE
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <input id="ID" size="3" disabled pInputText [(ngModel)]="sentence.sentencesDE.id">
                <label for="ID">ID </label>
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="name" type="text" pInputText [(ngModel)]="sentence.sentencesDE.name" (input)="updateName($event)"
                    required="true">
                <label for="name">Name</label>
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="header" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesDE.header" required="true">
                <label for="header">Header</label>
            </span>
        </div>
        <div class="col-2">
            <span class="ui-float-label">
                <input id="Updated" type="datetime" disabled pInputText [(ngModel)]="dataAgg">
                <label for="Updated" jhiTranslate="appApp.sentenceEdit.updated">Updated</label>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ui-float-label">
                <input id="remark" type="text" pInputText [(ngModel)]="sentence.sentencesDE.remark">
                <label for="remark">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <!-- IT -->
    <div class="row">
        <div class="col-1">
            <img src="../../../../content/images/it.png"> IT
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <input id="ID" type="number" size="3" disabled pInputText [(ngModel)]="sentence.sentencesIT.id">
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="name" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesIT.name" disabled="true">
            </span>
        </div>
        <div class="col-6">
            <span class="ui-float-label">
                <input id="header" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesIT.header" required="true">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ui-float-label">
                <input id="remark" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesIT.remark">
                <label for="remark">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <div class="row">
        <div class="col-1">
            <img src="../../../../content/images/en.png"> EN
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <input id="ID" type="number" size="5" disabled pInputText [(ngModel)]="sentence.sentencesEN.id">
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="name" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesEN.name" disabled="true">
            </span>
        </div>
        <div class="col-6">
            <span class="ui-float-label">
                <input id="header" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesEN.header" required="true">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ui-float-label">
                <input id="remark" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesEN.remark">
                <label for="remark">Remark</label>
            </span>
        </div>
    </div>
    <hr style="height:2pt; visibility:hidden; margin: 0px" />
    <div class="row">
        <div class="col-1">
            <img src="../../../../content/images/fr.png"> FR
        </div>
        <div class="col-1">
            <span class="ui-float-label">
                <input id="ID" type="number" size="5" disabled pInputText [(ngModel)]="sentence.sentencesFR.id">
            </span>
        </div>
        <div class="col-4">
            <span class="ui-float-label">
                <input id="name" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesFR.name" disabled="true">
            </span>
        </div>
        <div class="col-6">
            <span class="ui-float-label">
                <input id="header" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesFR.header" required="true">
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <span class="ui-float-label">
                <input id="remark" type="text" size="30" pInputText [(ngModel)]="sentence.sentencesFR.remark">
                <label for="remark">Remark</label>
            </span>
        </div>
    </div>
</div>
<hr />

<p-confirmDialog [closeOnEscape]="true" [visible]="showProgressModal" [closable]="false"></p-confirmDialog>
<p-dialog styleClass="pmdialog" header="{{ 'appApp.sentenceEdit.previewTitle' | translate }}"  [(visible)]="display" [draggable]="true" [resizable]="true" [responsive]="true" modal="modal"  [contentStyle]="{'height':'80%'}">
    <iframe id="receiver" #receiver [src]="pmUrl" width="100%" height="100%">
          <p>{{ "bulletins.create.pmDialog.noIFrameSupport" | translate }</p>
        </iframe>
</p-dialog>

<div class="row">
<div class="col 10">
<h3>PHRASE OPTION</h3> 
</div>
<div class="col 2">
<button pButton type="button" class="ui-button-success" label="{{ 'appApp.sentenceEdit.buttons.tryButton' | translate }}" icon="fa fa-eye" 
(click)="trySentence($event, '', 'de', this.sentence.sentencesDE.id)"></button>
</div>
</div>
<div class="row">
    <div class="col">
        <p-checkbox name="allLanguages" label="{{ 'appApp.sentenceEdit.changeOptionsLanguages' | translate }}"
            [(ngModel)]="allLanguages" binary="true"></p-checkbox>
    </div>
</div>
<p-accordion [multiple]="true">
    <p-accordionTab selected>
        <p-header>
            <img src="../../../../content/images/de.png"> DE
        </p-header>
        <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsDE" [sentenceLanguage]="sentence.sentencesDE"
            [allLanguages]="allLanguages"></jhi-copedit-phrase-option-editor>
    </p-accordionTab>
    <p-accordionTab selected>
        <p-header>
            <img src="../../../../content/images/it.png"> IT
        </p-header>
        <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsIT" [sentenceLanguage]="sentence.sentencesIT"
            [allLanguages]="allLanguages"></jhi-copedit-phrase-option-editor>
    </p-accordionTab>
    <p-accordionTab selected>
        <p-header>
            <img src="../../../../content/images/en.png"> EN
        </p-header>
        <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsEN" [sentenceLanguage]="sentence.sentencesEN"
            [allLanguages]="allLanguages"></jhi-copedit-phrase-option-editor>
    </p-accordionTab>
    <p-accordionTab selected>
        <p-header>
            <img src="../../../../content/images/fr.png"> FR
        </p-header>
        <jhi-copedit-phrase-option-editor [phraseOptions]="phraseOptionsFR" [sentenceLanguage]="sentence.sentencesFR"
            [allLanguages]="allLanguages"></jhi-copedit-phrase-option-editor>
    </p-accordionTab>
</p-accordion>



      