<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<br />
<p-confirmDialog></p-confirmDialog>
<p-growl life="5000" styleClass="customWidth"></p-growl>
<div class="row">
    <div class="col">
        <span style="float: right; padding: 2px"><button pButton type="button" icon="pi pi-plus-circle" label="{{ 'appApp.sentenceList.searchFilters.newSentence' | translate }}"
                (click)="newSentence()"></button></span>
    </div>
</div>
<!-- FILTERS -->
<p-fieldset legend="{{ 'appApp.sentenceList.searchFilters.title' | translate }}" [toggleable]="true">
    <div class="row">
        <div class="col">
            <h6>{{ 'appApp.sentenceList.searchFilters.deleted' | translate }}</h6>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p-checkbox name="viewDeleted" value="val1" label=""
                (onChange)="dt.filter($event, 'deleted', 'equals')"></p-checkbox>
        </div>
        <div class="col">
            <h6>{{ 'appApp.sentenceList.searchFilters.joker' | translate }}</h6>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p-checkbox name="viewJoker" value="val1" label=""
                (onChange)="dt.filter($event, 'joker', 'equals')"></p-checkbox>
        </div>
        <div class="col">
            <h6 jhiTranslate="appApp.sentenceList.searchFilters.phrase">With phrase at first leve</h6>
            <p-dropdown [options]="phraseOptions" optionLabel="name" showClear="true" [autoDisplayFirst]="false"
                [filter]="true" (onChange)="dt.filter($event?.value?.id, 'phrase', 'contains')">
            </p-dropdown>
        </div>

        <div class="col">
            <h6 jhiTranslate="appApp.sentenceList.searchFilters.moduleNo">at position</h6>
            <p-dropdown [options]="positions" optionLabel="label" showClear="true" [autoDisplayFirst]="false"
                (onChange)="dt.filter($event?.value?.value, 'moduleNo', 'equals')">
            </p-dropdown>
        </div>
        <div class="col">
            <h6 jhiTranslate="appApp.sentenceList.searchFilters.domain">Domain</h6>
            <p-dropdown [options]="domains" optionLabel="name" [autoDisplayFirst]="false" (onChange)="dt.filter($event?.value?.id, 'domain', 'equals')"
                disabled="true" [(ngModel)]="currentDomain">
            </p-dropdown>
        </div>
        <!--
        <div class="col">
            <h6 jhiTranslate="appApp.sentenceList.searchFilters.version">Version</h6>
            <p-dropdown [options]="versions" optionLabel="version" showClear="true" [autoDisplayFirst]="false"
                (onChange)="dt.filter($event?.value?.version, 'version', 'equals')">
            </p-dropdown>
        </div>
    -->
    </div>
    <div class="row">
        <div class="col">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText (input)="dt.filter($event.target.value, 'search', 'contains')">
                <label for="float-input"> {{ 'appApp.sentenceList.searchFilters.search' | translate }}</label>
            </span>
        </div>
        <div class="col pull-right">
            <h6>&nbsp;</h6>
            
        </div>
    </div>
</p-fieldset>
<!-- GRID -->
<hr />
<p-table #dt [value]="sentences" [autoLayout]="true" [paginator]="true" [rows]="20" [lazy]="true" (onLazyLoad)="loadNextPage($event)"
    [totalRecords]="totalRecords" [loading]="loading" (onFilter)="filterData($event)" (onSort)="sortSentences($event)"
    sortMode="multiple" [multiSortMeta]="multiSortMeta">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>{{ 'appApp.sentenceList.grid.columns.delete' | translate }}</th>
            <th>{{ 'appApp.sentenceList.grid.columns.edit' | translate }}</th>
            <th [pSortableColumn]="'name'">Name
                <p-sortIcon [field]="'name'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'header'">Header
                <p-sortIcon [field]="'header'"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <th colspan="4" style="text-align: center" jhiTranslate="appApp.sentenceList.grid.messages.noSentenceFound">No
                sentences found with selected criteria</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sentence>
        <tr>
            <td>
                <p-button label="{{ 'appApp.sentenceList.grid.buttons.delete' | translate }}" styleClass="ui-button-danger"
                    icon="pi pi-trash" iconPos="left" (click)="confirmDelete(sentence.name)"></p-button>
            </td>
            <td>
                <p-button label="{{ 'appApp.sentenceList.grid.buttons.edit' | translate }}" styleClass="ui-button-secondary"
                    icon="pi pi-pencil" iconPos="left" (click)="editSentence(sentence.name)"></p-button>
            </td>
            <td>{{sentence.name}}</td>
            <td>{{sentence.header}}</td>
        </tr>
    </ng-template>
</p-table>
