<!-- <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog> -->
<div style="height: 29px; margin-bottom: 10px">

    <button pButton type="button" icon="fa fa-plus" label="{{ 'appApp.phraseEdit.buttons.addException' | translate }}"
        *ngIf="language!== 'de'" [disabled]="phrasesItemPartNo2.length > 0" (click)="addLanguageException()"></button>
    <button pButton type="button" class="ui-button-danger" icon="fa fa-plus" label="{{ 'appApp.phraseEdit.buttons.removeException' | translate }}"
        *ngIf="language!== 'de'" [disabled]="phrasesItemPartNo2.length === 0" (click)="removeLanguageException()"></button>
</div>

<div [ngClass]="{'sentenceModule': language=='de', 'sentenceModuleLang': language!=='de'}" style="height: 280px; width: 100%; overflow: scroll" (scroll)="emitScroll(scroll.scrollTop)" #scroll>
    <span *ngIf="phrases.length === 0">No phrases available</span>

    <div class="row" style="width: 98%;"">
        <div class="col">

            <div class="container" [dragulaOptions]="dragulaOptions" [dragula]='"bag-a"' [(dragulaModel)]="phrases">
                <!-- <div class="row"> -->
                <div *ngFor="let phrase of phrases" style="margin: 10px 5px 10px 5px" [ngClass]="{'no-drag': language!== 'de' }">
                    <div class="elementModule" [ngClass]="{'no-drag': language!== 'de' }" style="height: 148px">
                        <div class="elementModuleHeader">
                            <span style="float: left; padding-right: 5px; ">{{phrase?.phrase?.itemNo}}</span>
                        </div>
                        <div class="elementModuleBody">
                            <div>
                                <input type="text" size="30" pInputText [(ngModel)]="phrase.phrase.value" style="width: 100%" />
                            </div>
                            <div>
                                <p-checkbox name="spaceBefore" label="Space before" [(ngModel)]="phrase.phrase.spaceBefore"
                                    binary="true"></p-checkbox>
                                <p-checkbox name="spaceAfter" label="Space after" [(ngModel)]="phrase.phrase.spaceAfter"
                                    binary="true"></p-checkbox>
                                <p-checkbox name="removePuncBefore" label="Remove punc before" [(ngModel)]="phrase.phrase.removePunctuationBefore"
                                    binary="true"></p-checkbox>
                                <p-checkbox name="incorrect" label="Incorrect" [(ngModel)]="phrase.phrase.incorrect"
                                    binary="true"></p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" *ngIf="language!== 'de' && phrasesItemPartNo2.length > 0">
            <div *ngIf="language!== 'de'">
                <div *ngFor="let phrase of phrasesItemPartNo2" style="margin: 10px 5px 10px 5px" [ngClass]="{'no-drag': language!== 'de' }">
                    <div class="elementModule" [ngClass]="{'no-drag': language!== 'de' }">
                        <div class="elementModuleHeader">
                            <span style="float: left; padding-right: 5px; ">{{phrase?.phrase?.itemNo}}</span>
                        </div>
                        <div class="elementModuleBody">
                            <div>
                                <input type="text" size="30" pInputText [(ngModel)]="phrase.phrase.value" style="width: 100%" />
                            </div>
                            <div>
                                <p-checkbox name="spaceBefore" label="Space before" [(ngModel)]="phrase.phrase.spaceBefore"
                                    binary="true"></p-checkbox>
                                <p-checkbox name="spaceAfter" label="Space after" [(ngModel)]="phrase.phrase.spaceAfter"
                                    binary="true"></p-checkbox>
                                <p-checkbox name="removePuncBefore" label="Remove punc before" [(ngModel)]="phrase.phrase.removePunctuationBefore"
                                    binary="true"></p-checkbox>
                                <p-checkbox name="incorrect" label="Incorrect" [(ngModel)]="phrase.phrase.incorrect"
                                    binary="true"></p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
