<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="domain">
            <h2><span jhiTranslate="appApp.domain.detail.title">Domain</span> {{domain.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.domain.name">Name</span></dt>
                <dd>
                    <span>{{domain.name}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.domain.datenew">Datenew</span></dt>
                <dd>
                    <span>{{domain.datenew}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.domain.datelast">Datelast</span></dt>
                <dd>
                    <span>{{domain.datelast}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/domain', domain.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
