<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.domain.home.title">Domains</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-domain" [routerLink]="['/domain/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appApp.domain.home.createLabel">
            Create new Domain
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="domains">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="appApp.domain.name">Name</span></th>
            <th><span jhiTranslate="appApp.domain.datenew">Datenew</span></th>
            <th><span jhiTranslate="appApp.domain.datelast">Datelast</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let domain of domains ;trackBy: trackId">
                <td><a [routerLink]="['/domain', domain.id, 'view' ]">{{domain.id}}</a></td>
                <td>{{domain.name}}</td>
                <td>{{domain.datenew | date:'medium'}}</td>
                <td>{{domain.datelast | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/domain', domain.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/domain', domain.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'domain/'+ domain.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
