<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.sentence.home.title">Sentences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sentence" [routerLink]="['/sentence/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appApp.sentence.home.createLabel">
            Create new Sentence
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sentences">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="appApp.sentence.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="header"><span jhiTranslate="appApp.sentence.header">Header</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="language"><span jhiTranslate="appApp.sentence.language">Language</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="structure"><span jhiTranslate="appApp.sentence.structure">Structure</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span jhiTranslate="appApp.sentence.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="basisVersion"><span jhiTranslate="appApp.sentence.basisVersion">Basis Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="appApp.sentence.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deleted"><span jhiTranslate="appApp.sentence.deleted">Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="jokerSentence"><span jhiTranslate="appApp.sentence.jokerSentence">Joker Sentence</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="domainId"><span jhiTranslate="appApp.sentence.domainId">Domain Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="datenew"><span jhiTranslate="appApp.sentence.datenew">Datenew</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="datelast"><span jhiTranslate="appApp.sentence.datelast">Datelast</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sentence of sentences ;trackBy: trackId">
                <td><a [routerLink]="['/sentence', sentence.id, 'view' ]">{{sentence.id}}</a></td>
                <td>{{sentence.name}}</td>
                <td>{{sentence.header}}</td>
                <td>{{sentence.language}}</td>
                <td>{{sentence.structure}}</td>
                <td>{{sentence.version}}</td>
                <td>{{sentence.basisVersion}}</td>
                <td>{{sentence.remark}}</td>
                <td>{{sentence.deleted}}</td>
                <td>{{sentence.jokerSentence}}</td>
                <td>{{sentence.domainId}}</td>
                <td>{{sentence.datenew | date:'medium'}}</td>
                <td>{{sentence.datelast | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sentence', sentence.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sentence', sentence.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sentence/'+ sentence.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="sentences && sentences.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
