<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sentence">
            <h2><span jhiTranslate="appApp.sentence.detail.title">Sentence</span> {{sentence.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.sentence.name">Name</span></dt>
                <dd>
                    <span>{{sentence.name}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.header">Header</span></dt>
                <dd>
                    <span>{{sentence.header}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.language">Language</span></dt>
                <dd>
                    <span>{{sentence.language}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.structure">Structure</span></dt>
                <dd>
                    <span>{{sentence.structure}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.version">Version</span></dt>
                <dd>
                    <span>{{sentence.version}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.basisVersion">Basis Version</span></dt>
                <dd>
                    <span>{{sentence.basisVersion}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.remark">Remark</span></dt>
                <dd>
                    <span>{{sentence.remark}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.deleted">Deleted</span></dt>
                <dd>
                    <span>{{sentence.deleted}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.jokerSentence">Joker Sentence</span></dt>
                <dd>
                    <span>{{sentence.jokerSentence}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.domainId">Domain Id</span></dt>
                <dd>
                    <span>{{sentence.domainId}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.datenew">Datenew</span></dt>
                <dd>
                    <span>{{sentence.datenew}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentence.datelast">Datelast</span></dt>
                <dd>
                    <span>{{sentence.datelast}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sentence', sentence.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
