<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="phraseOption">
            <h2><span jhiTranslate="appApp.phraseOption.detail.title">Phrase Option</span> {{phraseOption.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.phraseOption.name">Name</span></dt>
                <dd>
                    <span>{{phraseOption.name}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phraseOption.language">Language</span></dt>
                <dd>
                    <span>{{phraseOption.language}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phraseOption.header">Header</span></dt>
                <dd>
                    <span>{{phraseOption.header}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phraseOption.version">Version</span></dt>
                <dd>
                    <span>{{phraseOption.version}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phraseOption.basisVersion">Basis Version</span></dt>
                <dd>
                    <span>{{phraseOption.basisVersion}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phraseOption.remark">Remark</span></dt>
                <dd>
                    <span>{{phraseOption.remark}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phraseOption.deleted">Deleted</span></dt>
                <dd>
                    <span>{{phraseOption.deleted}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phraseOption.domainId">Domain Id</span></dt>
                <dd>
                    <span>{{phraseOption.domainId}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phraseOption.datenew">Datenew</span></dt>
                <dd>
                    <span>{{phraseOption.datenew}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.phraseOption.datelast">Datelast</span></dt>
                <dd>
                    <span>{{phraseOption.datelast}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/phrase-option', phraseOption.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
