<p-breadcrumb [model]="breadcrumbs" [home]="home"></p-breadcrumb>
<br />

<h3><i class="fa fa-file-export"></i>&nbsp; {{ 'appApp.export.home.description' | translate}}</h3>
<p-growl life="8000" styleClass="customWidth"></p-growl>

<div class="row">
    <div class="col-lg-2">
        <h6 jhiTranslate="appApp.export.home.domain">Domain</h6>
        <p-dropdown [options]="domains" optionLabel="name" [autoDisplayFirst]="false" [(ngModel)]="selectedDomain">
        </p-dropdown>
    </div>
    <div class="col">
        <div>&nbsp;</div>
        <button icon="fa fa-file-export" pButton type="button" label="{{ 'appApp.export.home.exportButton' | translate}}"
            class="ui-button-rounded ui-button-success" [disabled]="selectedDomain === undefined" (click)="download()"></button>
    </div>
</div>

<p-dialog [(visible)]="showProgressModal" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
    [maximizable]="false" [baseZIndex]="10000" [closeOnEscape]="false" [dismissableMask]="false" [closable]="false"
    [positionTop]="50">
    <p-header>
        {{ 'appApp.export.messages.exportInProgressMessageHeader' | translate}}
    </p-header>
    <P>{{ 'appApp.export.messages.exportInProgressMessage' | translate}}</P>
    <p-progressBar mode="indeterminate"></p-progressBar>

</p-dialog>
