<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.sentenceLang.home.title">Sentence Langs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sentence-lang" [routerLink]="['/sentence-lang/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="appApp.sentenceLang.home.createLabel">
            Create new Sentence Lang
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sentenceLangs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="appApp.sentenceLang.name">Name</span></th>
            <th><span jhiTranslate="appApp.sentenceLang.header">Header</span></th>
            <th><span jhiTranslate="appApp.sentenceLang.language">Language</span></th>
            <th><span jhiTranslate="appApp.sentenceLang.updatedDate">Updated Date</span></th>
            <th><span jhiTranslate="appApp.sentenceLang.structure">Structure</span></th>
            <th><span jhiTranslate="appApp.sentenceLang.remark">Remark</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sentenceLang of sentenceLangs ;trackBy: trackId">
                <td><a [routerLink]="['/sentence-lang', sentenceLang.id, 'view' ]">{{sentenceLang.id}}</a></td>
                <td>{{sentenceLang.name}}</td>
                <td>{{sentenceLang.header}}</td>
                <td jhiTranslate="{{'appApp.LanguageEnum.' + sentenceLang.language}}">{{sentenceLang.language}}</td>
                <td>{{sentenceLang.updatedDate | date:'medium'}}</td>
                <td>{{sentenceLang.structure}}</td>
                <td>{{sentenceLang.remark}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sentence-lang', sentenceLang.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sentence-lang', sentenceLang.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sentence-lang/'+ sentenceLang.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
