<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sentenceLang">
            <h2><span jhiTranslate="appApp.sentenceLang.detail.title">Sentence Lang</span> {{sentenceLang.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="appApp.sentenceLang.name">Name</span></dt>
                <dd>
                    <span>{{sentenceLang.name}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentenceLang.header">Header</span></dt>
                <dd>
                    <span>{{sentenceLang.header}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentenceLang.language">Language</span></dt>
                <dd>
                    <span jhiTranslate="{{'appApp.LanguageEnum.' + sentenceLang.language}}">{{sentenceLang.language}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentenceLang.updatedDate">Updated Date</span></dt>
                <dd>
                    <span>{{sentenceLang.updatedDate}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentenceLang.structure">Structure</span></dt>
                <dd>
                    <span>{{sentenceLang.structure}}</span>
                </dd>
                <dt><span jhiTranslate="appApp.sentenceLang.remark">Remark</span></dt>
                <dd>
                    <span>{{sentenceLang.remark}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sentence-lang', sentenceLang.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
